/*******************************************************************************
 Copyright 2018 Ellucian Company L.P. and its affiliates.
 ******************************************************************************/
.xe-exclude {
    display:none !important;
}

.xe-extensions-editor {
    border: 1px solid #CCC;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 0px #a3a3a3;
    z-index: 2 !important;
}

.xe-extensions-editor .ui-dialog-titlebar-close {
    display: none;
}

#extensions-edit-input {
    width: 99%;
    height: 98%;
    min-height: 250px;
    overflow: auto;
    resize: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

.xe-placeholder {
    color:#999999;
}

.xe-extensions-editor.ui-widget {
    font-size: 1.3em;
    font-family: "Open Sans";
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.xe-extensions-editor.ui-draggable.ui-resizable > div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    height: 39px;
    background: -moz-linear-gradient(49.9999% -0% -90deg, rgba(109, 166, 202, 1) 0%, rgba(61, 130, 171, 1) 100%);
    background: -webkit-gradient(linear,49.9999% -0%,49.9999% 102.5%, color-stop(0, rgba(109, 166, 202, 1)), color-stop(1, rgba(60, 129, 170, 1)));
    background: linear-gradient(rgba(109, 166, 202, 1), rgba(60, 129, 170, 1));
}

.xe-extensions-editor.ui-dialog .ui-dialog-title {
    color: #000000;
    float: none;
}

.xe-extensions-editor.ui-dialog .ui-dialog-content {
    padding: inherit;
}

.xe-extensions-editor.ui-dialog .ui-dialog-buttonpane {
    margin: 0;
}

.xe-extensions-editor.ui-corner-all {
    border-radius: 6px;
}

.xe-extensions-editor.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em 1em;
}

.xe-extensions-editor.ui-dialog .ui-dialog-titlebar-close {
    left: auto;
    right: 1em;
}

.xe-extensions-editor.ui-dialog .ui-resizable-se {
    left: auto;
    right: 3px;
}

.xe-extensions-editor .ui-button .ui-button-text {
    display: block;  line-height: 0;
}
.xe-extensions-editor .ui-button-text-only .ui-button-text {
    padding: 0;
}

.xe-extensions-editor .primary, .xe-extensions-editor .ui-corner-all.ui-button.ui-widget.primary {
    background-color: #026BC8;
    background-image: none;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0.5em 1.5em;
    border: none;
    background-position: left 0px, right -58px, 0 -29px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    -moz-border-radius: 4px;
    font-family: Open Sans !important;
    font-weight: normal;
    font-size: 14px !important;
    height: 34px;
    line-height: 20px;
}

.xe-extensions-editor .primary:hover:not([disabled]), .xe-extensions-editor .ui-corner-all.ui-button.ui-widget.primary:hover:not([disabled]) {
    background-color: #065AA5;
    border: none;
}

.xe-extensions-editor .primary:focus:not([disabled]), .xe-extensions-editor .ui-corner-all.ui-button.ui-widget.primary:focus:not([disabled]) {
    border: 2px solid #81C8FF;
    -ms-user-select: none;
    outline: none;
}

.xe-extensions-editor .primary:disabled, .xe-extensions-editor .ui-corner-all.ui-button.ui-widget.primary:disabled {
    background-color: #B2B3B7;
    color: #FFFFFF;
    border: none;
}

.xe-extensions-editor .primary:active:not([disabled]), .xe-extensions-editor .ui-corner-all.ui-button.ui-widget.primary:active:not([disabled]) {
    background-color: #0A4982;
    border: none;
}

.xe-extensions-editor .secondary, .ui-corner-all.ui-button.ui-widget.secondary {
    background-color: #FFFFFF;
    background-image: none;
    background-position: left 0px, right -58px, 0 -29px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    -moz-border-radius: 4px;
    border: 1px solid #026BC8;
    color: #026BC8;
    border-radius: 4px;
    padding: 0.5em 1.5em;;
    font-family: Open Sans !important;
    font-weight: normal;
    font-size: 14px !important;
    height: 34px;
    line-height: 20px;

}


.xe-extensions-editor .secondary:hover:not([disabled]), .ui-corner-all.ui-button.ui-widget.secondary:hover:not([disabled]) {
    background-color: #065AA5;
    color: #FFFFFF;
}

.xe-extensions-editor .secondary:focus:not([disabled]), .ui-corner-all.ui-button.ui-widget.secondary:focus:not([disabled]) {
    border: 1px solid #81C8FF;
    -ms-user-select: none;
    background-color: #026BC8;
    color: #FFFFFF;
    outline: none;
}

.xe-extensions-editor .secondary:disabled, .ui-corner-all.ui-button.ui-widget.secondary:disabled {
    background-color: #B2B3B7;
    color: #FFFFFF;
    border: none;
}

.xe-extensions-editor .secondary:active:not([disabled]), .ui-corner-all.ui-button.ui-widget.secondary:active:not([disabled]) {
    background-color: #0A4982;
    border: none;
}
