/*******************************************************************************
 Copyright 2014 Ellucian Company L.P. and its affiliates.
*******************************************************************************/
.xe-exclude {
    display:none !important;
}

.xe-extensions-editor {
    border: 1px solid #CCC;
}

#extensions-edit-input {
    width: 98%;
    height: 98%;
    min-height: 250px;
    overflow: auto;
    resize: none;
}