/*******************************************************************************
 Copyright 2015 Ellucian Company L.P. and its affiliates.
 ******************************************************************************/
.xe-exclude {
    display:none !important;
}

.xe-extensions-editor {
    border: 1px solid #CCC;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 0px #a3a3a3;
}

#extensions-edit-input {
    width: 100%;
    height: 98%;
    min-height: 250px;
    overflow: auto;
    resize: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

.xe-placeholder {
    color:#999999;
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.xe-extensions-editor.ui-draggable.ui-resizable > div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    height: 39px;
    font-size: 1.3em;
    background: -moz-linear-gradient(49.9999% -0% -90deg, rgba(109, 166, 202, 1) 0%, rgba(61, 130, 171, 1) 100%);
    background: -webkit-gradient(linear,49.9999% -0%,49.9999% 102.5%, color-stop(0, rgba(109, 166, 202, 1)), color-stop(1, rgba(60, 129, 170, 1)));
    background: linear-gradient(rgba(109, 166, 202, 1), rgba(60, 129, 170, 1));
}

.xe-extensions-editor.ui-dialog .ui-dialog-title {
    color: #FFF;
    float: none;
}

.xe-extensions-editor.ui-dialog .ui-dialog-content {
    padding: inherit;
}

.xe-extensions-editor.ui-dialog .ui-dialog-buttonpane {
    margin: 0;
}

.xe-extensions-editor.ui-corner-all {
    border-radius: 6px;
}

.xe-extensions-editor.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em 1em;
}

.xe-extensions-editor.ui-dialog .ui-dialog-titlebar-close {
    left: auto;
    right: 1em;
}

.xe-extensions-editor.ui-dialog .ui-resizable-se {
    left: auto;
    right: 3px;
}
