/*******************************************************************************
 Copyright 2015 Ellucian Company L.P. and its affiliates.
 ******************************************************************************/
.xe-extensions-editor.ui-dialog .ui-resizable-se {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#extensions-edit-input {
    direction: ltr;
}

.xe-extensions-editor.ui-dialog .ui-resizable-se {
    cursor: sw-resize;
}
